examples/switch.json
[
  {
      "id": "8b49e6b76eb427ce",
      "type": "debug",
      "z": "c5abf3e271db988b",
      "name": "debug 1",
      "active": true,
      "tosidebar": true,
      "console": false,
      "tostatus": false,
      "complete": "true",
      "targetType": "full",
      "statusVal": "",
      "statusType": "auto",
      "x": 1200,
      "y": 260,
      "wires": []
  },
  {
      "id": "66f895db58150b66",
      "type": "ha-discovery-in",
      "z": "c5abf3e271db988b",
      "name": "",
      "server": "620e1a6f99885eef",
      "dev_id": "70039f0d06d3",
      "uniq_id": "ESPswitchrelay",
      "start": true,
      "filter": true,
      "x": 1020,
      "y": 260,
      "wires": [
          [
              "8b49e6b76eb427ce"
          ]
      ]
  },
  {
      "id": "3f8f1a062db41924",
      "type": "ha-discovery-out",
      "z": "c5abf3e271db988b",
      "name": "",
      "server": "620e1a6f99885eef",
      "dev_id": "70039f0d06d3",
      "uniq_id": "ESPswitchrelay",
      "qos": "",
      "retain": "",
      "payload": "payload",
      "payload_type": "msg",
      "x": 1200,
      "y": 340,
      "wires": []
  },
  {
      "id": "2c4d595b9e12c4af",
      "type": "inject",
      "z": "c5abf3e271db988b",
      "name": "",
      "props": [
          {
              "p": "payload"
          }
      ],
      "repeat": "",
      "crontab": "",
      "once": false,
      "onceDelay": 0.1,
      "topic": "",
      "payload": "ON",
      "payloadType": "str",
      "x": 1010,
      "y": 340,
      "wires": [
          [
              "3f8f1a062db41924"
          ]
      ]
  },
  {
      "id": "b356c842ad4905b6",
      "type": "inject",
      "z": "c5abf3e271db988b",
      "name": "",
      "props": [
          {
              "p": "payload"
          }
      ],
      "repeat": "",
      "crontab": "",
      "once": false,
      "onceDelay": 0.1,
      "topic": "",
      "payload": "OFF",
      "payloadType": "str",
      "x": 1010,
      "y": 420,
      "wires": [
          [
              "3f8f1a062db41924"
          ]
      ]
  },
  {
      "id": "620e1a6f99885eef",
      "type": "ha-discovery",
      "name": "",
      "server": "47d4db2e78accd62",
      "topic": "homeassistant/#"
  },
  {
      "id": "47d4db2e78accd62",
      "type": "mqtt-broker",
      "name": "mqtt.local",
      "broker": "mqtt.local",
      "port": "1883",
      "clientid": "",
      "autoConnect": true,
      "usetls": false,
      "protocolVersion": "4",
      "keepalive": "60",
      "cleansession": true,
      "birthTopic": "",
      "birthQos": "0",
      "birthRetain": "false",
      "birthPayload": "",
      "birthMsg": {},
      "closeTopic": "",
      "closeQos": "0",
      "closeRetain": "false",
      "closePayload": "",
      "closeMsg": {},
      "willTopic": "",
      "willQos": "0",
      "willRetain": "false",
      "willPayload": "",
      "willMsg": {},
      "userProps": "",
      "sessionExpiry": ""
  }
]