examples/Switch.json
[{"id":"081204a2cadf5112","type":"group","z":"c5abf3e271db988b","name":"Switch","style":{"label":true},"nodes":["8b49e6b76eb427ce","3f8f1a062db41924","2c4d595b9e12c4af","b356c842ad4905b6","88c67bedfcb3e012"],"x":214,"y":159,"w":412,"h":242},{"id":"8b49e6b76eb427ce","type":"debug","z":"c5abf3e271db988b","g":"081204a2cadf5112","name":"Switch output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":500,"y":200,"wires":[]},{"id":"3f8f1a062db41924","type":"ha-discovery-out","z":"c5abf3e271db988b","g":"081204a2cadf5112","name":"","server":"620e1a6f99885eef","dev_id":"70039f0d06d3","uniq_id":"ESPswitchrelay","qos":"","retain":"","payload":"payload","payload_type":"msg","x":480,"y":280,"wires":[]},{"id":"2c4d595b9e12c4af","type":"inject","z":"c5abf3e271db988b","g":"081204a2cadf5112","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"ON","payloadType":"str","x":310,"y":280,"wires":[["3f8f1a062db41924"]]},{"id":"b356c842ad4905b6","type":"inject","z":"c5abf3e271db988b","g":"081204a2cadf5112","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"OFF","payloadType":"str","x":310,"y":360,"wires":[["3f8f1a062db41924"]]},{"id":"88c67bedfcb3e012","type":"ha-discovery-in","z":"c5abf3e271db988b","g":"081204a2cadf5112","name":"","server":"620e1a6f99885eef","dev_id":"70039f0d06d3","uniq_id":"ESPswitchrelay","start":true,"filter":false,"x":300,"y":200,"wires":[["8b49e6b76eb427ce"]]},{"id":"620e1a6f99885eef","type":"ha-discovery","name":"","server":"47d4db2e78accd62","topic":"homeassistant/#"},{"id":"47d4db2e78accd62","type":"mqtt-broker","name":"mqtt.local","broker":"mqtt.local","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""}]