examples/Switch HomeKit.json
[{"id":"3d3ac6f3a555c766","type":"group","z":"c5abf3e271db988b","name":"Switch HomeKit","style":{"label":true},"nodes":["5543953957839136","ced40b4a05981ba5","5c80d982f1c4a9bf","588d13f01a2b4986"],"x":214,"y":519,"w":612,"h":82},{"id":"5543953957839136","type":"ha-discovery-out","z":"c5abf3e271db988b","g":"3d3ac6f3a555c766","name":"","server":"620e1a6f99885eef","dev_id":"70039f0d06d3","uniq_id":"ESPswitchrelay","qos":"","retain":"","payload":"payload","payload_type":"msg","x":740,"y":560,"wires":[]},{"id":"ced40b4a05981ba5","type":"ha-discovery-in","z":"c5abf3e271db988b","g":"3d3ac6f3a555c766","name":"","server":"620e1a6f99885eef","dev_id":"70039f0d06d3","uniq_id":"ESPswitchrelay:Switch","start":true,"filter":false,"x":300,"y":560,"wires":[["5c80d982f1c4a9bf"]]},{"id":"5c80d982f1c4a9bf","type":"homekit-service","z":"c5abf3e271db988b","g":"3d3ac6f3a555c766","isParent":true,"hostType":"0","bridge":"409001a1.3e7a78","accessoryId":"","parentService":"","name":"Switch","serviceName":"Switch","topic":"","filter":false,"manufacturer":"NRCHKB","model":"1.4.3","serialNo":"Default Serial Number","firmwareRev":"1.4.3","hardwareRev":"1.4.3","softwareRev":"1.4.3","cameraConfigVideoProcessor":"ffmpeg","cameraConfigSource":"","cameraConfigStillImageSource":"","cameraConfigMaxStreams":2,"cameraConfigMaxWidth":1280,"cameraConfigMaxHeight":720,"cameraConfigMaxFPS":10,"cameraConfigMaxBitrate":300,"cameraConfigVideoCodec":"libx264","cameraConfigAudioCodec":"libfdk_aac","cameraConfigAudio":false,"cameraConfigPacketSize":1316,"cameraConfigVerticalFlip":false,"cameraConfigHorizontalFlip":false,"cameraConfigMapVideo":"0:0","cameraConfigMapAudio":"0:1","cameraConfigVideoFilter":"scale=1280:720","cameraConfigAdditionalCommandLine":"-tune zerolatency","cameraConfigDebug":false,"cameraConfigSnapshotOutput":"disabled","cameraConfigInterfaceName":"","characteristicProperties":"{}","waitForSetupMsg":false,"outputs":2,"x":470,"y":560,"wires":[["588d13f01a2b4986"],[]]},{"id":"588d13f01a2b4986","type":"function","z":"c5abf3e271db988b","g":"3d3ac6f3a555c766","name":"function 1","func":"if (typeof msg.payload === 'object' && 'On' in msg.payload) {\n    msg.payload = msg.payload.On;\n}\nmsg.payload = msg.payload ? 'ON' : 'OFF';\nnode.status({ text: msg.payload });\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":595,"y":560,"wires":[["5543953957839136"]],"l":false},{"id":"620e1a6f99885eef","type":"ha-discovery","name":"","server":"47d4db2e78accd62","topic":"homeassistant/#"},{"id":"409001a1.3e7a78","type":"homekit-bridge","bridgeName":"Demo 1","pinCode":"153-10-538","port":"","allowInsecureRequest":false,"manufacturer":"NRCHKB","model":"Demo","serialNo":"1.1.2","customMdnsConfig":false,"mdnsMulticast":true,"mdnsInterface":"","mdnsPort":"","mdnsIp":"","mdnsTtl":"","mdnsLoopback":true,"mdnsReuseAddr":true,"allowMessagePassthrough":true},{"id":"47d4db2e78accd62","type":"mqtt-broker","name":"mqtt.local","broker":"mqtt.local","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""}]